name: Deploy develop
on:
  push:
    branches:
      - test/gitactionspr
jobs:
  check-out-github:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.check-out-github.outputs.test }}
      output2: ${{ steps.check-out-github.outputs.test }}
    steps:
      - name: Check out github
        uses: actions/checkout@v2
      - id: check-out-github
        run: echo "::set-output name=test::hello"
  build:
    runs-on: ubuntu-latest
    needs: check-out-github
    steps:
      - name: Hello
        run: echo ${{github.event.action}} ${{needs.check-out-github.outputs.output2}}
      - run: echo Github Actions ${{github.event.pull_request.merged}}
    