name: Deploy develop
on:
  push:
    types:
      - closed
    branches:
      - main
      - develop
      - test/gitactionspr
jobs:
  check-out-github:
    runs-on: ubuntu-latest
    steps:
      - name: Check out github
        uses: actions/checkout@v2
  build:
    runs-on: ubuntu-latest
    needs: check-out-github
    steps:
      - run: echo ${{needs.check-out-github.outputs.output1}} ${{needs.check-out-github.outputs.output2}}
    